.navbar {
  position: absolute;
  z-index: 10;
  mix-blend-mode: difference;
}

.logo {
  top: 0%;
  left: 0%;
  color: hsl(0, 0%, 95%);
  opacity: 0%;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
  user-select: none;
  cursor: pointer;
}

.logo.visible {
  opacity: 100%;
  visibility: visible;
}

.beta {
  bottom: 0%;
  left: 0%;
  color: hsl(0, 0%, 95%);
}

.background {
  position: absolute;
  top: 25px;
  right: 15%;
  width: 120px;
  height: 60px;
  z-index: 10;
}

.background-button {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 5px;
  border-radius: 50px;
  background-color: hsl(0, 0%, 95%);
}

.background-arrow {
  flex-grow: 1;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: hsl(0, 0%, 10%);
  transform: rotate(90deg);
  transition: transform 200ms ease-in-out;
}

.background-arrow.active {
  transform: rotate(-90deg);
}

.background-selected{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  user-select: none;
  cursor: pointer;
}

.bag-info {
  top: 0%;
  right: 0%;
  color: hsl(0, 0%, 95%);
  user-select: none;
  cursor: pointer;
}