@use "../../../styles/animations";
@use "../../../styles/colors" as *;

.background-picker {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5%;
  width: 12em;
  max-height: 24em;
  padding: 0.5em;
  border-radius: 0.5em;
  @include themed {
    background-color: t("text");
  }
  transition: background-color 350ms ease;
  animation: fade-in 350ms ease-in-out;
}

.background-picker > * + * {
  margin-top: 0.5em;
}

.background-picker.closing {
  animation: fade-out 350ms ease-in-out forwards;
}

.background-picker .react-colorful {
  flex-shrink: 0;
  width: 11em;
  height: 11em;
}

.background-picker .react-colorful__saturation {
  border-bottom-width: 0.6em;
  border-radius: 0.5em 0.5em 0 0;
}

.background-picker .react-colorful__hue {
  height: 1.2em;
  border-radius: 0 0 0.5em 0.5em;
}

.background-picker .react-colorful__pointer {
  width: 1.4em;
  height: 1.4em;
  border: 0.15em solid #fff;
}

.background-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hexColorInput-bg {
  width: 5.5em;
  padding: 0.25em;
  border: none;
  border-radius: 0.25em;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  @include themed {
    color: t("bg");
  }
  background-color: $grey-500-300;
  transition: color 350ms ease;
}

.hexColorInput-bg:focus-visible {
  outline: none;
}

.colors-controls-back {
  @include themed {
    color: t("bg");
  }
  transition: color 350ms ease;
  user-select: none;
  cursor: pointer;
}

.colors-saved-back {
  flex-shrink: 0;
  flex-grow: 1;
  position: relative;
  height: 5em;
}

.colors-saved-back::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.25em;
  content: '';
  @include themed {
    background: linear-gradient(t("text-gradient"));
  }
  z-index: 14;
}

.colors-saved-back::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25em;
  content: '';
  @include themed {
    background: linear-gradient(to top, t("text-gradient"));
  }
  z-index: 14;
}

.colors-back {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1.5em, 1fr));
  justify-items: center;
  gap: 0.5em;
  // min-height: 2em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  scrollbar-width: thin;
  overflow-y: auto;
}

.colors-back::-webkit-scrollbar {
  width: 0.5em;
}

.colors-back::-webkit-scrollbar-button {
  height: 0.25em;
}

.colors-back::-webkit-scrollbar-track {
  border-radius: 0.5em;
  background-color: $grey-500-300;
}

.colors-back::-webkit-scrollbar-thumb {
  border-radius: 0.5em;
  background-color: $grey-500-500;
}

.color-saved-back {
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.5em;
  user-select: none;
  cursor: pointer;
}
