@use "../../../styles/animations";
@use "../../../styles/colors" as *;

.background-picker {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5%;
  width: 220px;
  max-height: 40vh;
  padding: 10px;
  border-radius: 8px;
  @include themed {
    background-color: t("text");
  }
  transition: background-color 350ms ease;
  box-shadow:  0px 0px 60px 30px #4d4d4d20;
  animation: fade-in 350ms ease-in-out;
}

.background-picker > * + * {
  margin-top: 10px;
}

.background-picker.closing {
  animation: fade-out 350ms ease-in-out forwards;
}

.background-picker .react-colorful {
  flex-shrink: 0;
 }

.background-controls {
  display: flex;
  justify-content: space-around;
}

.hexColorInput-bg {
  width: 90px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  @include themed {
    color: t("bg");
  }
  background-color: hsla(0, 0%, 50%, 0.3);
  transition: color 350ms ease;
}

.hexColorInput-bg:focus-visible {
  outline: none;
}

.colors-controls-back{
  @include themed {
    color: t("bg");
  }
  transition: color 350ms ease;
  user-select: none;
  cursor: pointer;
}

.colors-back {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  justify-items: center;
  gap: 7.5px;
  overflow-y: auto;
}

.color-saved-back {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  user-select: none;
  cursor: pointer;
}