@use "../../../styles/animations";
@use "../../../styles/colors" as *;
@use "../../../styles/media-queries" as *;

.background-button {
  display: flex;
  align-items: center;
  border-radius: 3em;
  @include themed {
    background-color: t("text");
  }
  transition: background-color 350ms ease;
  @include portrait {
    border-radius: 7.5em;
  }
}

.background-selected {
  width: 2.4em;
  height: 2.4em;
  margin: 0.3em;
  border-radius: 1.25em;
  user-select: none;
  cursor: pointer;
  @include portrait {
    width: 6.1em;
    height: 6.1em;
    margin: 0.75em;
    border-radius: 3.2em;
  }
}

.background-arrow {
  width: 2em;
  height: 2em;
  margin: 0.25em;
  transition: padding-top 200ms ease-in-out;
  @include portrait {
    width: 5.5em;
    height: 5.5em;
    margin: 0.5em;
  }
}

.background-arrow > path {
  @include themed {
    fill: t("bg");
  }
  transition: fill 350ms ease;
}

.background-arrow.active > path {
  animation: expand-to-less 200ms ease-in-out forwards;
}

.background-arrow.disable > path {
  animation: expand-to-more 200ms ease-in-out forwards;
}
