@use "../../../styles/animations";
@use "../../../styles/colors" as *;

.background-picker {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5%;
  width: 12em;
  max-height: 22em;
  padding: 0.5em;
  border-radius: 0.5em;
  @include themed {
    background-color: t("text");
  }
  transition: background-color 350ms ease;
  animation: fade-in 350ms ease-in-out;
}

.background-picker > * + * {
  margin-top: 0.5em;
}

.background-picker.closing {
  animation: fade-out 350ms ease-in-out forwards;
}

.background-picker .react-colorful {
  flex-shrink: 0;
  width: 11em;
  height: 11em;
}

.background-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hexColorInput-bg {
  width: 5.5em;
  padding: 0.25em;
  border: none;
  border-radius: 0.25em;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  @include themed {
    color: t("bg");
  }
  background-color: $grey-500-300;
  transition: color 350ms ease;
}

.hexColorInput-bg:focus-visible {
  outline: none;
}

.colors-controls-back {
  @include themed {
    color: t("bg");
  }
  transition: color 350ms ease;
  user-select: none;
  cursor: pointer;
}

.colors-back {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1.5em, 1fr));
  justify-items: center;
  gap: 0.5em;
  min-height: 2em;
  overflow-y: auto;
}

.color-saved-back {
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.5em;
  user-select: none;
  cursor: pointer;
}
