@use "../../../styles/animations";
@use "../../../styles/colors" as *;

.bag {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100vh;
  width: 25%;
  @include themed {
    background-color: t("bg");
  }
  z-index: 10;
  transition: background-color 350ms ease;
  animation: bag-in 350ms ease-in-out;
}

.bag.closing {
  animation: bag-out 350ms ease-in-out forwards;
}

.bag-title {
  display: flex;
  justify-content: space-between;
}

.bag-title > h3 {
  @include themed {
    color: t("text");
  }
  transition: color 350ms ease;
}

.close {
  user-select: none;
  cursor: pointer;
}

.bag-content {
  flex-grow: 1;
  overflow-y: auto;
}

.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  @include themed {
    color: t("bg");
    background-color: t("text");
  }
  transition: color 350ms ease, background-color 350ms ease;
}
