@use "../../../styles/animations";
@use "../../../styles/colors" as *;
@use "../../../styles/media-queries" as *;

.bag {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0vh;
  right: 0vw;
  height: 100vh;
  width: 25vw;
  @include themed {
    background-color: t("bg");
  }
  z-index: 10;
  transition: background-color 350ms ease;
  animation: bag-in 350ms ease-in-out, width 350ms ease-in-out;
  @include portrait {
    width: 100vw;
    animation: bag-in-port 350ms ease-in-out;
  }
}

.bag.closing {
  animation: bag-out 350ms ease-in-out forwards;
  @include portrait {
    animation: bag-out-port 350ms ease-in-out forwards;
  }
}

.bag-title {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  @include portrait {
    margin: 4em;
  }
}

.bag-title > h3 {
  @include themed {
    color: t("text");
  }
  transition: color 350ms ease;
}

.close {
  user-select: none;
  cursor: pointer;
}

.bag-content {
  flex-grow: 1;
  overflow-y: auto;
} 

.bag-text {
  margin: 1.6em;
  @include themed {
    color: t("text");
  }
  transition: color 350ms ease;
  @include portrait {
    
    font-size: 4em;
  }
}

.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5em;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  @include themed {
    color: t("bg");
    background-color: t("text");
  }
  transition: color 350ms ease, background-color 350ms ease;
  @include portrait {
    font-size: 5em;
  }
}
