@use "../../../styles/colors" as *;
@use "../../../styles/media-queries" as *;

.bag-shoe-control {
  position: relative;
  @include themed {
    color: t("text");
  }
  transition: color 350ms ease;
  text-decoration: underline;
  user-select: none;
  cursor: pointer;
}

.bag-shoe-control > p {
  @include portrait {
    font-size: 4em;
  }
}