.question {
  position: absolute;
  top: 105%;
  width: 220px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  background-color: hsl(0, 0%, 95%);
  box-shadow:  0px 0px 60px 30px #4d4d4d20;
  animation: fade-in 350ms ease-in-out;
}

.question.closing {
  animation: fade-out 350ms ease-in-out forwards;
}