@use "../../../styles/colors" as *;

.navbar {
  position: absolute;
  z-index: 10;
}

.logo {
  top: 0%;
  left: 0%;
  opacity: 0%;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
  user-select: none;
  cursor: pointer;
}

.back {
  display: flex;
  top: 0%;
  left: 0%;
  margin: 25px;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  opacity: 0%;
  @include themed {
    color: t("text");
  }
  visibility: hidden;
  transition: opacity 200ms ease-in-out, color 350ms ease;
  user-select: none;
  cursor: pointer;
}

.back.visible {
  opacity: 100%;
  visibility: visible;
}

.back > svg {
  width: 48px;
  height: 48px;
}

.back > svg > path {
  @include themed {
    fill: t("text");
  }
  transition: fill 350ms ease;
}

.logo.visible {
  opacity: 100%;
  visibility: visible;
}

.beta {
  bottom: 0%;
  left: 0%;
}

.bag-info {
  top: 0%;
  right: 0%;
  user-select: none;
  cursor: pointer;
}