@use "../../../styles/colors" as *;
@use "../../../styles/media-queries" as *;

.navbar {
  position: absolute;
  margin: 0.5em;
  z-index: 10;
  @include portrait {
    margin: 0.5em;
  }
}

.logo {
  top: 0vh;
  left: 1vw;
  opacity: 0%;
  text-transform: uppercase;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
  user-select: none;
}

.logo.visible {
  opacity: 100%;
  visibility: visible;
}

.back {
  display: flex;
  top: 0vh;
  left: 1vw;
  margin: 1em;
  opacity: 0%;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
  user-select: none;
  cursor: pointer;
  @include portrait {
    margin: 2.5em;
  }
}

.back > h2 {
  font-weight: normal;
}

.back.visible {
  opacity: 100%;
  visibility: visible;
}

.back > svg {
  width: 3em;
  height: 3em;
  @include portrait {
    width: 7em;
    height: 7em;
  }
}

.back > svg > path {
  @include themed {
    fill: t("text");
  }
  transition: fill 350ms ease;
}

.background {
  top: 0vh;
  left: 76vw;
  width: 5.75em;
  height: 3em;
  margin: 1em;
  @include portrait {
    left: 50vw;
    width: 15em;
    height: 7.5em;
    margin: 2.5em;
  }
}

.beta {
  bottom: 2vh;
  left: 1vw;
  text-transform: uppercase;
}

.bag-info {
  top: 0vh;
  right: 1vw;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
}