@use "../../../styles/animations";
@use "../../../styles/colors" as *;
@use "../../../styles/media-queries" as *;

.shoe-name {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, 0%);
  margin: 1em;
  @include themed {
    color: t("text");
  }
  text-align: center;
  transition: color 350ms ease;
  user-select: none;
  z-index: 2;
  @include portrait {
    margin: 2.5em;
  }
}

.shoe-name.enter,
.shoe-name > div.enter {
  opacity: 0;
}
.shoe-name.enter-active,
.shoe-name > div.enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.shoe-name.exit,
.shoe-name > div.exit {
  opacity: 1;
}
.shoe-name.exit-active,
.shoe-name > div.exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.shoe-name > h2::first-letter {
  text-transform: uppercase;
}

.shoe-click {
  animation: fade-in 3s ease-in-out alternate infinite;
}
