@use "../../../styles/colors" as *;
@use "../../../styles/media-queries" as *;

.canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0vh;
  left: 0vw;
  transition: left 350ms ease-in-out;
  user-select: none;
  @include portrait {
    transition: top 350ms ease-in-out;
  }
}

.canvas.editing {
  left: -12.5vw;
  @include portrait {
    left: 0vw;
    top: -30vh;
  }
}