@use "../../../styles/colors" as *;

.canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  transition: left 350ms ease-in-out;
  user-select: none;
}

.canvas.editing {
  left: -12.5vw;
}

.canvas-name {
  position: absolute;
  left: 50vw;
  bottom: 2vh;
  transform: translate(-50%, 0%);
  margin: 0.5em;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  @include themed {
    color: t("text");
  }
  opacity: 0%;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, color 350ms ease;
  user-select: none;
}

.canvas-name.visible {
  opacity: 100%;
  visibility: visible;
}