@use "../../../styles/colors" as *;
@use "../../../styles/media-queries" as *;

.canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0vh;
  left: 0vw;
  transform: translate(0%, 0%);
  transition: transform 350ms ease-in-out;
  user-select: none;
}

.canvas.editing {
  transform: translate(-12.5%, 0%);
  @include portrait {
    transform: translate(0%, -27%);
  }
}
