@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes expand-to-less {
  0% {
    d: path("M14.15 16.6 24 26.5 33.85 16.65 36 18.8 24 30.75 12 18.75Z");
  }

  50% {
    d: path("M10 22.5 24 22.5 38 22.5 38 25.5 24 25.5 10 25.5Z");
  }

  100% {
    d: path("M12 28.6 24 16.6 36 28.55 33.85 30.7 24 20.85 14.15 30.75Z");
  }
}

@keyframes expand-to-more {
  0% {
    d: path("M12 28.6 24 16.6 36 28.55 33.85 30.7 24 20.85 14.15 30.75Z");
  }

  50% {
    d: path("M10 22.5 24 22.5 38 22.5 38 25.5 24 25.5 10 25.5Z");
  }

  100% {
    d: path("M14.15 16.6 24 26.5 33.85 16.65 36 18.8 24 30.75 12 18.75Z");
  }
}

@keyframes bag-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes bag-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
