//colors

$dark: hsl(0, 0%, 10%);

$light: hsl(0, 0%, 95%);

$dark-gradient: hsl(0, 0%, 10%) 0%, hsla(0, 0%, 10%, 0.987) 9.7%,
  hsla(0, 0%, 10%, 0.951) 18.6%, hsla(0, 0%, 10%, 0.896) 26.7%,
  hsla(0, 0%, 10%, 0.825) 34.2%, hsla(0, 0%, 10%, 0.741) 41%,
  hsla(0, 0%, 10%, 0.648) 47.4%, hsla(0, 0%, 10%, 0.55) 53.5%,
  hsla(0, 0%, 10%, 0.45) 59.2%, hsla(0, 0%, 10%, 0.352) 64.8%,
  hsla(0, 0%, 10%, 0.259) 70.3%, hsla(0, 0%, 10%, 0.175) 75.8%,
  hsla(0, 0%, 10%, 0.104) 81.4%, hsla(0, 0%, 10%, 0.049) 87.3%,
  hsla(0, 0%, 10%, 0.013) 93.4%, hsla(0, 0%, 10%, 0) 100%;

$light-gradient: hsl(0, 0%, 95%) 0%, hsla(0, 0%, 95%, 0.987) 9.7%,
  hsla(0, 0%, 95%, 0.951) 18.6%, hsla(0, 0%, 95%, 0.896) 26.7%,
  hsla(0, 0%, 95%, 0.825) 34.2%, hsla(0, 0%, 95%, 0.741) 41%,
  hsla(0, 0%, 95%, 0.648) 47.4%, hsla(0, 0%, 95%, 0.55) 53.5%,
  hsla(0, 0%, 95%, 0.45) 59.2%, hsla(0, 0%, 95%, 0.352) 64.8%,
  hsla(0, 0%, 95%, 0.259) 70.3%, hsla(0, 0%, 95%, 0.175) 75.8%,
  hsla(0, 0%, 95%, 0.104) 81.4%, hsla(0, 0%, 95%, 0.049) 87.3%,
  hsla(0, 0%, 95%, 0.013) 93.4%, hsla(0, 0%, 95%, 0) 100%;

$grey-500-300: hsla(0, 0%, 50%, 0.3);
$grey-500-500: hsla(0, 0%, 50%, 0.5);

$text--light: $light;
$text--dark: $dark;
$bg--light: $light;
$bg--dark: $dark;

$themes: (
  light: (
    bg: $bg--light,
    bg-gradient: $light-gradient,
    text: $text--dark,
    text-gradient: $dark-gradient,
  ),
  dark: (
    bg: $bg--dark,
    bg-gradient: $dark-gradient,
    text: $text--light,
    text-gradient: $light-gradient,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
