@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

h2 {
  font-size: 2em;
  margin: 25px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: hsl(0, 0%, 10%);
}

h3 {
  font-size: 1.5em;
  margin: 15px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: hsl(0, 0%, 10%);
}

p {
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  color: hsl(0, 0%, 10%);
}