@use "../../../styles/colors" as *;
@use "../../../styles/media-queries" as *;

.bag {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  width: 25%;
  @include themed {
    background-color: t("bg");
  }
  z-index: 10;
  transition: background-color 350ms ease;
  @include portrait {
    width: 100%;
  }
}

.bag.enter {
  transform: translateX(100%);
}
.bag.enter-active {
  transform: translateX(0);
  transition: transform 300ms;
}

.bag.exit {
  transform: translateX(0);
}
.bag.exit-active {
  transform: translateX(100%);
  transition: transform 300ms;
}

.bag-title {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  @include portrait {
    margin: 4em;
  }
}

.bag-title > h3 {
  @include themed {
    color: t("text");
  }
  transition: color 350ms ease;
}

.close {
  user-select: none;
  cursor: pointer;
}

.bag-content {
  flex-grow: 1;
  overflow-y: auto;
}

.bag-text {
  margin: 1.6em;
  @include themed {
    color: t("text");
  }
  transition: color 350ms ease;
  @include portrait {
    font-size: 4em;
  }
}

.bag-text.enter {
  margin: 0;
  font-size: 0;
  opacity: 0;
}
.bag-text.enter-active {
  font-size: 1rem;
  margin: 1.6em;
  opacity: 1;
  transition: font-size 0ms 300ms, margin 0ms 300ms, opacity 500ms 300ms; 
  @include portrait {
    font-size: 4rem;
  }
}

.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5em;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  @include themed {
    color: t("bg");
    background-color: t("text");
  }
  user-select: none;
  cursor: pointer;
  transition: color 350ms ease, background-color 350ms ease;
  @include portrait {
    font-size: 5em;
  }
}
