@use "../../../styles/animations";
@use "../../../styles/colors" as *;
@use "../../../styles/media-queries" as *;

.bag-shoe {
  display: flex;
  width: auto;
  margin: 0.8em;
  border-radius: 0.4em;
  animation: fade-in 350ms ease-in-out;
  transition: background-color 350ms ease-in-out;
  @include portrait {
    margin: 3.6em;
    border-radius: 1.8em;
  }
}

.bag-shoe.editing {
  background-color: $grey-500-300;
}

.bag-shoe.closing {
  animation: fade-out 350ms ease-in-out forwards;
}

.bag-shoe-image {
  width: 5em;
  height: 5em;
  margin: 0.8em;
  border-radius: 0.4em;
  background-color: #ffffff;
  @include portrait {
    width: 24em;
    height: 24em;
    margin: 3.6em;
    border-radius: 1.8em;
  }
}

.bag-shoe-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0.8em;
  @include portrait {
    margin: 3.6em;
  }
}

.bag-shoe-info > *,
.bag-shoe-info2 > *,
.bag-shoe-info2 > * > * {
  @include themed {
    color: t("text");
  }
  transition: color 350ms ease;
}

.bag-shoe-info > p,
.bag-shoe-info2 > p,
.bag-shoe-info2 > div > p  {
  @include portrait {
    font-size: 4em;
  }
}

.bag-shoe-info2 {
  display: flex;
  justify-content: space-between;
}

.bag-shoe-info2 > div {
  display: flex;
  gap: 0.8em;
  @include portrait {
    gap: 3.6em;
  }
}
