@use "../../styles/colors" as *;
@use "../../styles/media-queries" as *;

.dialog-removeshoe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  width: 15em;
  height: 5em;
  padding: 0.5em;
  border-radius: 0.5em;
  text-align: center;
  @include themed {
    background-color: t("bg");
  }
  box-shadow: 0px 0px 4em 2em $gray-500-300;
  transition: top 400ms cubic-bezier(0.25, 1, 0.5, 1),
    left 400ms cubic-bezier(0.25, 1, 0.5, 1);
  z-index: 100;
  @include portrait {
    width: 60em;
    height: 22em;
    padding: 1.25em;
    border-radius: 1.25em;
    transform: translate(-5%, 0%);
  }
}

.dialog-removeshoe.enter {
  opacity: 0;
}

.dialog-removeshoe.enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.dialog-removeshoe.exit {
  opacity: 1;
}

.dialog-removeshoe.exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.question-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.question-controls > p {
  @include portrait{
    font-size: 4em;
  }
} 

