@use "../../styles/colors" as *;
@use "../../styles/media-queries" as *;

.controls {
  position: absolute;
  bottom: 2vh;
  right: 26vw;
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  @include portrait {
    bottom: 60vh;
    right: 1vw;
  }
}

.controls.visible {
  visibility: visible;
  opacity: 100%;
}

.controls > * + * {
  margin-top: 0.5em;
}

.done {
  padding: 0.4em;
  border-radius: 5em;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  @include themed {
    color: t("text");
  }
  border-width: 0.1em;
  border-style: solid;
  border-color: transparent;
  transition: color 350ms ease, border-color 350ms ease;
  user-select: none;
  cursor: pointer;
  @include portrait {
    font-size: 5em;
  }
}

.done:hover {
  @include themed {
    border-color: t("text");
  }
}
