@use "../../styles/colors" as *;

.controls {
  position: absolute;
  bottom: 0%;
  right: 25%;
  margin: 25px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.controls.visible {
  visibility: visible;
  opacity: 100%;
}

.controls > * + * {
  margin-top: 25px;
}

.done {
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  @include themed {
    color: t("bg");
    background-color: t("text");
  }
  transition: background-color 350ms ease, color 350ms ease;
  user-select: none;
  cursor: pointer;
}