@use "../../../styles/colors" as *;
@use "../../../styles/media-queries" as *;

.mesh-panel {
  display: flex;
  justify-content: space-around;
  margin: 1.5em;
  @include portrait {
    margin: 3.75em;
  }
}

.mesh-panel-button {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  border: none;
  user-select: none;
  cursor: pointer;
  @include portrait {
    font-size: 5em;
  }
}

.mesh-panel-button > svg {
  width: 1.5em;
  height: 1.5em;
}

.mesh-panel-button > svg > path {
  @include themed {
    fill: t("text");
  }
  transition: fill 350ms ease;
}

.mesh-panel-name {
  display: flex;
}

.mesh-panel-name > h2 + h2 {
  margin-left: 0.4em;
}