@use "../../../styles/colors" as *;

.mesh-panel {
  display: flex;
  justify-content: space-between;
}

.mesh-panel-button {
  font-size: 2rem;
  margin: 25px;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  border: none;
  user-select: none;
  cursor: pointer;
}

.mesh-panel-button > svg {
  width: 48px;
  height: 48px;
}

.mesh-panel-button > svg > path {
  @include themed {
    fill: t("text");
  }
  transition: fill 350ms ease;
}

.mesh-panel-name {
  display: flex;
}