@use "../../../styles/colors" as *;
@use "../../../styles/media-queries" as *;

.sizes {
  display: flex;
  width: 100%;
  margin: 0 1.5em;
  @include portrait {
    margin: 0 3.75em;
  }
}

.sizes-numbers {
  display: flex;
  width: 100%;
  margin-left: 1em;
  overflow-x: scroll;
  @include portrait {
    margin-left: 2em;
  }
}

.numbers {
  padding-left: 0.4em;
  padding-right: 0.4em;
  border-radius: 0.4em;
  background-color: transparent;
  transition: background-color 350ms ease;
}

.numberSelected {
  background-color: $gray-500-300;
}