@use "../../../styles/colors" as *;

.sizes {
  display: flex;
  width: 100%;
  margin: 0 1.5em;
}

.sizes-numbers {
  display: flex;
  width: 100%;
  margin-left: 1em;
  overflow-x: scroll;
}

.numbers {
  padding-left: 0.4em;
  padding-right: 0.4em;
  border-radius: 0.4em;
  background-color: transparent;
  transition: background-color 350ms ease;
}

.numberSelected {
  background-color: $grey-500-300;
}