@use "../colors" as *;

body {
  font-size: 1vw;
  overflow: hidden;
  // transition: background-color 350ms ease;
}

h2 {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
  @include themed {
    color: t("text");
  }
  transition: color 350ms ease;
}

h3 {
  font-size: 1.5em;
  margin: 15px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: hsl(0, 0%, 10%);
}

p {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  color: hsl(0, 0%, 10%);
}