@use "../colors" as *;
@use "../media-queries" as *;

html {
  height: -webkit-fill-available;
  font-size: 1vw;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: -webkit-fill-available;
  font-size: 1vw;
  overflow: hidden;
}

h2 {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  @include themed {
    color: t("text");
  }
  transition: color 350ms ease;
  @include portrait {
    font-size: 5rem;
  }
}

h3 {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  @include themed {
    color: t("text");
  }
  @include portrait {
    font-size: 5rem;
  }
}

p {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  @include themed {
    color: t("text");
  }
  @include portrait {
    font-size: 4rem;
  }
}
